#restaurants {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.res-card {
  border: 1px solid black;
  border-radius: 5px;
  width: 18.1em;
  background-color: #b8dbd9;
  margin: 1em;
}

.restaurant-name {
  font-weight: bold;
  font-size: 1.2em;
}

.restaurant-detail > span {
  display: block;
}
