<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="../images/logo.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Websiteara | Admin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="stylesheet" href="../css/admin.css">
</head>

<body>
    <header>
        <a href="/">
            <img id="logo" src="../images/logo.jpeg" alt="logo">
        </a>
        <nav>
            <i id="add" class="fas fa-plus nav-i"></i>
            <i id="edit" class="fas fa-edit nav-i"></i>
            <i id="remove" class="fas fa-times nav-i"></i>
        </nav>
        <div id="profile-container">
            <i id="profile-icon" class="fas fa-user"></i>
            <a id="login-text" href="/login">Login</a>
        </div>
    </header>

    <main>
        <h2 class="tc mh">Restaurants</h2>
        <!-- Repeat till here -->

        <div id="restaurants">
            <div class="res-card">
                <i class="action-btn fas"></i>
                <div class="restaurant-img"></div>
                <div class="restaurant-detail tc">
                    <span class="restaurant-name">Classic Cakes</span>
                    <span>Tables: 4</span>
                    <span>Location: Anywhere</span>
                    <span>Price: $10</span>
                </div>
            </div>

        </div>

        <!-- <div id="add-modal" class="modal dn">
            <div class="modal-content">
                <h2 id="modal-head" class="tc">Add restaurant</h2>
                <span class="close">&times;</span>
                <form id="add-form" class="add-res">
                    <div class="form-group">
                        <label for="res-name">Restaurant Name</label>
                        <input type=" text" class="form-control" id="res-name" placeholder="Restaurant Name" required>
                    </div>

                    <div class="form-group">
                        <label for="res-tables">Number of Tables available</label>
                        <input type="number" class="form-control" id="res-tables" placeholder="No. of tables" required>
                    </div>

                    <div class="form-group">
                        <label for="res-location">Location of the restaurant</label>
                        <input type="text" class="form-control" id="res-location" placeholder="Restaurant Location"
                            required>
                    </div>

                    <div class="form-group">
                        <label for="res-price">Price per table</label>
                        <input type="number" class="form-control" id="res-price" placeholder="Price/table" required>
                    </div>

                    <div class="form-group">
                        <label for="res-desc">Description of restaurant</label>
                        <textarea class="form-control" id="res-desc" placeholder="Restaurant Description"
                            required></textarea>
                    </div>

                    <div class="form-group">
                        <label for="res-image">Image of restaurant</label>
                        <input type="file" class="form-control-file" id="res-image" accept="image/*">
                    </div>
                    <button id="add-btn" type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div> -->

        <!-- <div id="edit-modal" class="modal dn">
            <div class="modal-content">
                <h2 id="modal-head" class="tc">Edit restaurant data</h2>
                <span class="close">&times;</span>
                <form id="edit-form" class="add-res">
                    <div class="form-group">
                        <label for="edit-res-name">Restaurant Name</label>
                        <input type=" text" class="form-control" id="edit-res-name" placeholder="Restaurant Name"
                            required readonly>
                    </div>

                    <div class="form-group">
                        <label for="edit-res-tables">Number of Tables available</label>
                        <input type="number" class="form-control" id="edit-res-tables" placeholder="No. of tables"
                            required>
                    </div>

                    <div class="form-group">
                        <label for="edit-res-location">Location of the restaurant</label>
                        <input type="text" class="form-control" id="edit-res-location" placeholder="Restaurant Location"
                            required>
                    </div>

                    <div class="form-group">
                        <label for="edit-res-price">Price per table</label>
                        <input type="number" class="form-control" id="edit-res-price" placeholder="Price/table"
                            required>
                    </div>

                    <div class="form-group">
                        <label for="edit-res-desc">Description of restaurant</label>
                        <textarea class="form-control" id="edit-res-desc" placeholder="Restaurant Description"
                            required></textarea>
                    </div>
                    <button id="add-btn" type="submit" class="btn btn-primary">Change data</button>
                </form>
            </div> -->
        </div>
    </main>
    <script src="../scripts/login-user.js"></script>
    <script src="../scripts/admin.js"></script>
    <!-- <script src="../scripts/adminAddEdit.js"></script> -->
</body>

</html>