<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="../images/logo.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/logout.css">
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>
    <header>
        <a href="/">
            <img id="logo" src="../images/logo.jpeg" alt="logo">
        </a>
    </header>
    <h2>Profile</h2>
    <i id="profile-icon" class="fas fa-user"></i>
    <h3 id="email"></h3>
    <button id="logout" type="submit" class="btn btn-primary">Logout</button>
    <script src="../scripts/logout.js"></script>
</body>

</html>