<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="../images/logo.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Websiteara | Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>
    <header>
        <a href="/">
            <img id="logo" src="../images/logo.jpeg" alt="logo">
        </a>
    </header>

    <main>
        <h2 class="tc mh">Register</h2>
        <form id="login-form">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email | text" class="form-control" id="email" aria-describedby="emailHelp"
                    placeholder="Enter email" required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" required>
            </div>

            <div class="form-group">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" class="form-control" id="confirm-password" placeholder="Re-enter Password"
                    required>
            </div>

            <button id="submit" type="submit" class="btn btn-primary">Register</button>
        </form>

        <a id="alt-login" href="/login">Already have an account, login</a>
    </main>
    <script src="../scripts/register.js"></script>
</body>

</html>