<!DOCTYPE html>
<html>

<head>
  <link rel="icon" href="../images/logo.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Websiteara | Register</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/login.css">
</head>

<body style="background: url('images/register.jpg'); background-size: cover;">
  <nav class="nav2-gradient navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex justify-content-between">
      <a class="navbar-brand" href="/">
        <img src="images/egg-fried.svg" style="height: 30px; width: 30px; margin-bottom: 5px;"> Websiteara</a>
      <button class="btn btn-outline-success">
        <img src="images/user.svg" style="height: 20px; width: 20px;"> <a href="/login" id="login-text"> Login </a>
      </button>

    </div>
    </div>
  </nav>

  <div class="container col-xl-10 col-xxl-8 px-4 py-3">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start" style="color: white;">
        <h1 class="display-4 fw-bold lh-1 mb-2">
          Sign Up
          <h2>Registration for New Users</h2>
        </h1>
        <p class="col-lg-10 fs-5">
          Create a Free Account.
        </p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form id="login-form" class="p-4 p-md-5 border rounded-3 bg-light">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="username" aria-describedby="userNameHelp"
              placeholder="Enter email" required />
            <label for="username">User name</label>
          </div>

          <div class="form-floating mb-3">
            <input type="email | text" class="form-control" id="email" aria-describedby="emailHelp"
              placeholder="Enter email" required />
            <label for="email">Email address</label>
          </div>

          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" placeholder="Password" required />
            <label for="password">Password</label>
          </div>

          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="confirm-password" placeholder="Password" required />
            <label for="confirm-password">Confirm Password</label>

          </div>
          <button class="w-100 btn btn-lg btn-primary" id="submit" type="submit">
            Register
          </button>
          <hr class="my-4" />
          <h6>Have an Account?
            <a href="/login">Login Now!</a>
          </h6>
          <small class="text-muted">By Clicking Sign up, You Agree to the Terms of Use.</small>
        </form>
      </div>
    </div>
  </div>

  <div class="container" style="color: white;">
    <footer>
      <hr class="my-4">
      <p class="text-center text-muted">&copy; Websiteara</p>
    </footer>
  </div>
  <script src="../scripts/register.js"></script>
</body>

</html>